body{
            background: rgb(187, 158, 235);
        }
        div#area{
            background-color: white;
            color: white;
            width: 200px;
            height: 200px;
            line-height: 200px;
            text-align: center;
        }